<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Angular Project</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="../styles.css">
  <script src='main.js'></script>
</head>
<body>
  <nav class="bg-black border-gray-200 opacity-70">
    <div class="flex flex-wrap items-center justify-between p-4 w-full">
      <a href="https://github.com/luisfmendes" class="flex items-center space-x-3 rtl:space-x-reverse content-start">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" class="h-10 ml-2" alt="Flowbite Logo" />          
      </a>      
      <div class="w-full md:block md:w-auto flex-row" id="navbar-default">
        <ul class="text-xl flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-20 rtl:space-x-reverse md:mt-0 md:border-0 ">
          <li>
            <a href="#" class="block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-yellow-400 md:p-0 after:block after:content-[''] after:absolute after:h-[3px] after:bg-yellow-400 after:w-full after:scale-x-0 relative after:hover:scale-x-100 after:transition after:duration-300 after:origin-center w-fit" aria-current="page">Home</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-yellow-400 md:p-0 after:block after:content-[''] after:absolute after:h-[3px] after:bg-yellow-400 after:w-full after:scale-x-0 relative after:hover:scale-x-100 after:transition after:duration-300 after:origin-center w-fit">About</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-yellow-400 md:p-0 after:block after:content-[''] after:absolute after:h-[3px] after:bg-yellow-400 after:w-full after:scale-x-0 relative after:hover:scale-x-100 after:transition after:duration-300 after:origin-center w-fit">Services</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-yellow-400 md:p-0 after:block after:content-[''] after:absolute after:h-[3px] after:bg-yellow-400 after:w-full after:scale-x-0 relative after:hover:scale-x-100 after:transition after:duration-300 after:origin-center w-fit">Pricing</a>
          </li>         
          <li>         
              <div id="bouton" class="relative group/bouton w-full">
                <button class="flex items-center block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:p-0 w-fit md:hover:text-yellow-400">
                   Downloads
                   <svg class="w-2.5 h-2.5 ms-1.5 mt-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
                <div class="border ml-[-60px] h-auto items-center mt-[0.8px] absolute items-center w-60 rounded-lg bg-stone-100 top-full bg-stone-100 origine-top opacity-0 hidden flex-col group-hover/bouton:flex group-hover/bouton:opacity-100 transition-all">
                  <ul *ngFor="let item of tipos" class="justify-items-center">
                    <li>
                      <div class="inline-flex mb-[-15px] items-center justify-center w-full">                       
                          <hr [ngClass]="retornarMainColor(item, 'bg-')" class="w-40 h-px my-8 border-0" />
                          <span [ngClass]="retornarMainColor(item, 'bg-')" class="absolute px-3 font-medium text-white -translate-x-1/2 left-1/2">{{item}}</span>                                              
                      </div>
                    </li> 
                    <li *ngFor="let link of retornarLink(item)">
                        <a target=”_blank” href="{{link.link}}" [ngClass]="[retornarMainColor(item, 'md:hover:text-'), retornarMainColor(item, 'after:bg-')]" class="my-2 block py-2 px-3 text-black rounded  md:hover:bg-transparent md:border-0  md:p-0 after:block after:content-[''] after:absolute after:h-[3px] after:w-full after:scale-x-0 relative after:hover:scale-x-100 after:transition after:duration-300 after:origin-center w-fit">
                          {{link.nome}}
                        </a>         
                    </li>
                  </ul>
                </div>
              </div>
          </li>
        </ul>
      </div>
      <div class="flex flex-wrap justify-between content-end w-[9.5%]">
        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Entrar</button>
        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Registrar</button>
      </div>      
    </div>
  </nav>
</body>
</html>